.outer-box {
  position: relative;
  padding-top: 19px;
}

.header-box {
  padding-bottom: 30px;
}

.main-navigation {
  padding: 0;
  margin: auto;
  padding-right: 20px;
  border: none;
  border-radius: 0;
  min-height: auto;
  background: none;
  max-width: 1170px;
}

.main-navigation .navbar-brand {
  padding: 0;
}

.main-navigation>.container .navbar-brand,
.main-navigation>.container-fluid .navbar-brand {
  margin: 0;
}

.main-navigation .container-fluid {
  padding: 0;
}

.main-navigation .navbar-nav {
  margin: 30px 0 0;
}

.main-navigation .navbar-nav>li {
  padding: 0 20px;
}

.main-navigation .navbar-nav>li>a {
  color: #222;
  font-size: 14px;
  line-height: 24px;
  display: block;
  padding: 0;
}

.main-navigation .navbar-nav>li:last-child {
  padding-right: 0;
}

.main-navigation .navbar-nav>li a:hover {
  color: #28c2ec;
}

.main-navigation .navbar-nav>li>a:focus,
.main-navigation .navbar-nav>li>a:hover {
  color: #0059c2;
  background: none;
}

.main-navigation .navbar-nav>.active>a,
.main-navigation .navbar-nav>.active>a:focus,
.main-navigation .navbar-nav>.active>a:hover {
  color: #0059c2;
  background: none;
}

.main-navigation .navbar-nav>.active>a {
  position: relative;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .main-navigation .navbar-nav>li {
    padding: 0 10px;
  }
}

@media screen and (max-width: 991px) {
  .main-navigation .navbar-nav>li {
    padding: 0 8px;
  }
  .main-navigation .navbar-nav>li>a,
  .dropbtn {
    font-size: 12px;
  }
  #lang-dropdown {
    padding: 0 5px;
  }
  .dropdown-content button {
    font-size: 12px;
    color: black;
    padding: 0 10px;
    margin: 5px 0;
  }
  .dropdown-content {
    margin-left: -8px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    float: left;
  }
  .headerbox {
    padding: 20px 2%;
    min-height: inherit;
  }
  .main-navigation {
    width: 100%;
    position: relative;
    right: 0px;
    top: auto;
    z-index: 2;
  }
  .navbar-toggle {
    margin: 0;
  }
  .navbar-default .navbar-toggle {
    border-radius: 0px;
    background: none;
    margin-top: 0px;
    border: none;
    margin-top: 20px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #1f191a;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background: none;
  }
  .nav .open>a,
  .nav .open>a:hover,
  .nav .open>a:focus {
    border: none;
  }
  .main-nav .navbar-nav>li.login>a {
    box-shadow: none;
  }
  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: none;
  }
  .main-nav {
    width: 250px;
    position: absolute;
    right: 2%;
    top: 25px;
    z-index: 2;
  }
  ul.navbar-nav {
    width: 100%;
    margin: 0;
    background: #333;
  }
  ul.navbar-nav>li {
    float: left;
    width: 100%;
    margin: 0px;
  }
  .main-nav .navbar-nav>li {
    margin: 0px;
  }
  .container-fluid {
    padding: 0px;
  }
  ul.navbar-nav li a {
    color: #1f191a !important;
    padding: 15px 0% 12px;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid #e5e5e5;
  }
  .navbar-default .navbar-nav>li.active>a,
  .navbar-default .navbar-nav>li.active>a:hover {
    background: none;
    box-shadow: none;
    color: #28c2ec !important;
  }
  .navbar-default .navbar-nav>li.active>a:after {
    display: none;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar-nav>li>.dropdown-menu {
    background: none;
    border: none;
  }
  .chat-btn {
    position: relative;
    z-index: 5;
    margin: 13px 60px 0 0;
  }
  .main-navigation .navbar-nav>li>.dropdown-menu:before {
    height: auto;
  }
  .main-navigation .navbar-collapse {
    position: absolute;
    right: 0px;
    top: -20px;
    width: 100%;
    height: 2000px;
    padding: 30px 10% 30px;
    border: none;
    box-shadow: none;
    background: #fff;
    /* left: -6px; */
  }
  .main-navigation .navbar-nav {
    width: 100%;
    background: #fff;
  }
  .main-navigation .navbar-nav>li {
    padding: 0;
  }
  .main-navigation .navbar-nav {
    padding: 0;
  }
  .main-navigation .navbar-nav>li>a {
    padding: 20px 0 12px;
    color: #1f191a;
    border-radius: 0px;
  }
  .main-navigation .navbar-nav>li:last-child a {}
  #close-nav {
    display: block !important;
  }
  #lang-dropdown {
    display: none;
  }
  #lang-dropdown-mobile {
    display: inline-block;
    float: right;
    top: 27px;
    /* margin-left: 10px; */
    padding: 0 10px;
  }
}

@media screen and (max-width: 360px) {
  #lang-dropdown-mobile {
    /* margin-left: 0; */
    padding: 0 4px;
  }
  .dropdown-content button {
    font-size: 11px;
    padding: 0 7px;
  }
}