.white-text {
  color: #fff;
}

.darkgrey-text {
  color: #474749;
}

.black-text {
  color: #313232;
}

.black-text2 {
  color: #000408;
}

.blue-text {
  color: #2558c1;
}

.white-bg {
  background-color: #fff;
}

.blue-bg {
  background-color: #eef4fb;
}

.v-align {
  display: table-cell;
  vertical-align: middle;
}

.spacer {
  height: 45px;
}

.heading-spacer {
  height: 40px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.padding-top {
  padding-top: 95px;
}

.padding-botom {
  padding-bottom: 95px;
}

.text-size {
  font-size: 18px;
  line-height: 28px;
  margin: 0 2%;
  text-align: justify;
  text-align-last: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.spacer2 {
  height: 145px;
}

.team-padding {
  padding-top: 120px;
}

/*==========
 Dropdown Button 
 ===========*/

.dropbtn {
  background-color: transparent;
  color: black;
  padding: 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.dropbtn:focus {
  outline: 0;
}

/* The container <div> - needed to position the dropdown content */

#lang-dropdown {
  position: relative;
  display: inline-block;
  top: -2px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 5px;
  margin-left: -10px;
  background-color: #fff;
  border-radius: 10px;
  min-width: 20px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  word-break: keep-all;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

/* Links inside the dropdown */

.dropdown-content button {
  color: black;
  padding: 0 14px;
  margin: 8px auto;
  text-decoration: none;
  display: block;
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
}

#myDropdown a:hover {
  color: #0059c2;
  background: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/* #lang-dropdown {
  display: -webkit-inline-flex;
} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}

#lang-dropdown-mobile {
  position: relative;
  display: none;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-top: -5px;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

/* 
@supports not (zoom:1.5) {
  .input-group input[type=checkbox] {
    transform: scale(1.5);
  }
}

@supports (zoom:1.5) {
  .input-group input[type=checkbox] {
    zoom: 1.5;
  }
} */

/* =============== 
    GDPR Form 
================ */

.input-group input[type='checkbox'] {
  /* transform: scale(1.2); */
  vertical-align: middle;
  margin: 0;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 18px;
  width: 18px;
  border: 1px solid #6e6e6e;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 2px;
}

.input-group input[type='checkbox']:hover {
  cursor: pointer;
}

.input-group input[type='checkbox']:checked {
  background-image: url(../images/check.png);
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.mc-field-group.input-group {
  margin-top: 30px;
  margin-bottom: 10px;
}

.mc-field-group.input-group label {
  margin-bottom: 0;
  margin-left: 5px;
}

.gdpr-text {
  text-align: left;
  /* margin: auto; */
  /* max-width: 80%; */
  font-size: 0.6em;
  line-height: 1.5em;
  margin-left: 31px;
  /* margin-top: 15px; */
}

.mc-field-group {
  /* min-width: 90%; */
}

.input-group label {
  display: inline;
  vertical-align: middle;
}

.sign-up-url, .gdpr-form, .gdpr-screen, .sub-confirm {
  display: none;
}

.gdpr-cn label {
  font-size: 1.2em;
}

.gdpr-text a {
  text-decoration: underline;
  color: #888a8a;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.gdpr-text a:hover {
  text-decoration: none;
  color: #074cc4;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.legal-links span {
  vertical-align: middle;
}

.modal.fade.in {
  display: block;
  width: 60%;
  max-height: 90%;
  margin: 0 auto;
  z-index: 9999;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.modal, .backdrop {
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.input-group-addon i {
  min-width: 17px;
}

.modal-backdrop.fade.in {
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
}

.menuClose button {
  background: transparent;
  border: transparent;
  outline: none;
}

.error-message {
  color: red;
  margin-bottom: 5px;
}

/* ========= For the investor image */

.investor {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.investor-img {
  display: inline-block;
  width: 35%;
  object-fit: fill;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 3%;
  position: relative;
}

.img1 {
  min-height: 100px;
  background-image: url('../images/DHVC-Greyscale.png');
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background-size: contain;
  background-repeat: no-repeat;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-image: url('../images/DHVC-Color.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img2 {
  min-height: 50px;
  margin-bottom: 15px;
  background-image: url('../images/Floodgate-Grey-v2.png');
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.overlay2 {
  min-height: 50px;
  margin-bottom: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-image: url('../images/Floodgate-Color.png');
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.investor-img:hover .overlay1, .investor-img:hover .overlay2 {
  opacity: 1;
}

/* For the recaptcha */

.g-recaptcha {
  display: inline-block;
  margin: auto;
}

/* Fontawesome color */

.input-group svg {
  color: #074cc4;
  fill: currentColor;
}